*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: black;
    color:antiquewhite;
    width: 100%;
    flex-wrap: wrap;
    
}

header nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 20px 2%;
}

header nav .nav-link a{
    color: antiquewhite;
}

header h1 a{
    color: antiquewhite;
}

.content-container h1{

    cursor: pointer;
}

.nav-link{
    flex: 1;
}

.nav-link ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link ul li{
    box-sizing: border-box;
    padding: 5px 20px;
    text-transform: uppercase;
    position: relative;
}

/*
.nav-link ul li~ li{
    border-left: 1px solid antiquewhite;
}
*/

.nav-link .not li a::after{
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    transition: 0.5s;
    position: absolute;
    background-color: antiquewhite;
    left: 12px;

}

.nav-link ul li a:hover::after{
    width: 80%;
    
}


a{
    text-decoration: none;
    display:flex;
    align-items: center;
    height: 100%;
}

hr{
    border: 2px solid;
}

i{
    font-size: 1.9em;
    font-weight: 1.5em;
    color: antiquewhite;
    padding: 30px 20px;
}

.logo{
    font-size: 2.2em;
    font-weight: bold;
    flex: 1;
}

.logo span{
    font-size: 1.2em;
    font-weight: 100;
}

body{
    width: 100%;
    min-height: 100vh;
    place-items: center;
    
}

.content-container{
    background-color: rgb(247, 242, 235);
    padding: 7%;
    
    
}

.content-container h1{
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.content-container span{
    color: purple;

}

.row{
    display: grid;
    width: 80%;
    max-width: 1500px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    margin: 20px auto 130px auto;
    background-color: aliceblue;
    padding: 2%;
}

.row .left{
    overflow: hidden;
}

.row .left img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.row .right{
    display: flex;
    align-items: center;
}

.row .right .contents{
    padding-left: 20px;

}

.row .right .contents p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: justify;
}




/*
.front{
    animation: autoshow both;
    animation-timeline: view(20% 80%);
}


@keyframes autoshow{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
*/


.projects{
    display: flex;
    overflow: hidden;
    
    margin-top: 30px;
    justify-content: center;
}

.projects .div{
    background-color:lightpink;
    width: 80%;
    height: 500px;
    padding: 50px;
}

.my{
    
    margin-top: 130px;
    cursor: pointer;
}

.list{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.item img{
    display: inline-block;
    width: 250px;
    height: 500px;
    margin-right: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.item{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.overlay a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid antiquewhite;
    border-radius: 25px;
}

.item:hover .overlay{
    opacity: 1;
}


.list::-webkit-scrollbar{
    display: none;

}

.projects{
    margin-bottom: 130px;
}

.mon{
    margin-top: 130px;
    cursor: pointer;
    
}

.skill{
    display: flex;
    overflow: hidden;
    margin-top: 30px;
    justify-content: center;
    
}

.skill .cat{
    width: 80%;
    height: 500px;
    background-color: lightgrey;
    padding: 40px;
    margin-bottom: 40px;
    
}

.cat{
    display: flex;
    overflow-x: scroll;
}

.ills hr{
    width: calc(100% - 1px);
    text-align: center;
    border: 1px solid white;
    margin-top: 80px;
    bottom: 100px;
}

.ills img{
    width: 150px;
    height: 150px;
    margin: 50px ;
}

.cat .ills{
    min-width: 250px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    cursor: pointer;
    margin: 5px;

}

.cat .ills:hover{
    background-color: rgba(255,255,255,0.2);
}

.cat .ills h2{
    margin-top: 80px;
    text-align: center;
    
}

.containers .content{
    display: block;
    text-align: center;
    margin-top: 130px;
}



.container{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container form{
    box-sizing: border-box;
    max-width: 670px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    padding-top: 50px;
}

.container form input{
    box-sizing: border-box;
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid black;
}

.container form #lastname, .container form #mobile{
    margin-left: 20px;
}

.container form h4 {
    font-weight: 300;
    
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 100%;
    max-width: 600px;
}
.container form #button{
    border: none;
    background-color: black;
    color: antiquewhite;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    transition: 0.4s;
}

.container form #button:hover{
    opacity: 0.85;
    cursor: pointer;
}

.cv{
    display: flex;
    overflow: hidden;
    justify-content: center;
    
}
.download-btn{
    display: inline-block;
    padding: 10px 50px;
    background-color: lightgrey;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 100px;
}

.download-btn:hover{
    color: black;
}

footer{
    background-color: black;
    color: antiquewhite;
    width: 100%;
    height: 300px;
    position: relative;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

footer .logo{
    margin-bottom: 15px;
}

footer hr{
    border: 1px solid antiquewhite;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

footer .social{
    display: block;
    text-align: right;
}

footer .social h3{
    margin-right: 280px;
    font-weight: 600;
    font-size: 2em;
    cursor: pointer;
    margin-top: 20px;
}

footer .social .social-link{
    margin-right: 200px;
}

footer h1{
    text-align: left;
    margin-left: 220px;
    position: absolute;
    top: 70px;
    cursor: pointer;
    
}



.menu-icon{
    display: none;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    
}

.nav-link .sidebar{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-link .sidebar li a{
    height: 50px;
    width: 100%;
    color: gray;
    font-weight: bold;
}

.nav-link .sidebar li~ li{
    border-left: none;
}

.sidebar i{
    font-size: 1.9em;
    font-weight: 1.5em;
    color: gray;
    padding: 30px 0px;
}


@media(max-width:1200px){
    .row{
        width: 80%;
        grid-template-columns: 1fr;
        background: none;
    
    }

    

    .row .left img{
        height: 100%;
        width: 60%;
        margin: 0 20%;
        
    }
    
}

@media(max-width:750px){
    .nav-link .not{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}